* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #dfe3ff;
    min-height: 180vh;
}

header {
    background-color: #0d064c;
    width: 100%;
    height: 100px;
    color: #dfe3ff;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 0px 80px;
}

header img {
    margin-left: 10px;
    border-radius: 60%;
}

main {
    background-color: #0d064c;
    width: 90%;
    height: 160vh;
    min-height: 300px;
    margin: 10px auto;
    padding-top: 40px;

}

section {
    width: 90%;
    height: 420px;
    margin: 10px auto;
    background-color: rgba(223, 227, 255, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 15px;
}

h4 {
    text-align: center;
    width: 80px;
    height: 20px;
    color: rgb(223, 227, 255);
    background-color: rgba(13, 6, 76, 0.4);
    margin-left: 5px;
    border-radius: 15px;
}

footer {
    background-color: #0d064c;
    width: 100%;
    min-height: 70px;
    text-align: center;
    color: rgb(223, 227, 255);
    padding: 10px;
}

.apresentação img {
    border-radius: 15px;
    box-shadow: 1px 1px 6px 3px #0d064c;
    margin-top: 40px;
}

.text {
    margin: 10px auto;
    background-color: rgba(223, 227, 255, 0.7);
    padding: 10px;
    margin-top: 40px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 1px 1px 5px 2px #0d064c;
    font-family: 'Varela Round', sans-serif;
    font-size: 11.3px;
    color: #0d064c;
    text-align: justify;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.fa-instagram-square {
    margin-right: 25px;
}

.fa-facebook-square {
    margin-right: 25px;

}

h1#text {
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width:896px) {
    body#mobile {
        display: none;
        height: auto;
    }

    body#desktop {
        display: block;
    }

    header {
        height: 80px;
        width: 100%;
    }

    header h1 {
        font-size: 40px;
    }

    header img {
        width: 70px;
        height: 70px;

    }
    main{
        height: auto;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .apresentação img {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }
    .blog .text {
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width:414px) {
    body#mobile {
        display: none;
        height: auto;
    }

    body#desktop {
        display: block;
    }

    header {
        height: 80px;
        width: 100%;
    }

    header h1 {
        font-size: 15px;
    }

    header img {
        width: 60px;
        height: 60px;

    }
    main{
        height: auto;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .apresentação img {
        width: 100%;
        height: auto;
    }

}